<div class='col-md-{{ include.width }}'>
  <section class='thumbnail soundcloud'>
    <div class='embed-responsive embed-responsive-16by9'>
      {% include sound.html id = include.id %}
    </div>
    <dl class='dl-horizontal'>
      <dt>
        Aufgenommen bei:
      </dt>
      <dd>
        {{ include.location }}
      </dd>
      <dt>
        Bearbeitet von:
      </dt>
      <dd>
        {% if include.engineer %}
          {{ include.engineer }}
        {% else %}
          Joe
        {% endif %}
      </dd>
      <dt>
        Datum:
      </dt>
      <dd>
        {{ include.date | date_to_long_string }}
      </dd>
      <dt>
        License:
      </dt>
      <dd>
        <a href='{{ include.license_url}}'>{{ site.data.licenses[include.license].short-name }}</a>
      </dd>
    </dl>
  </section>
</div>
